* {
	box-sizing: border-box;
}

header, section, article, footer {
	color: white;
	padding: 15px;
	border: 3px solid grey;
}

header{
	height: 50px;
	background-color: red;
}
section{
	height: 250px;
	width: 50%;
	background-color: blue;
	float: left;
}
article{
	height: 250px;
	background-color: green;
	width: 33.3%;
 	float: left;
}
footer{
	color:blue;
	height: 50px;
	background-color: yellow;
	clear:both;
}
